<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer>
    <div>
        <h1></h1>
        <div>© 2026 Pharmacy</div>

        <label>
            Подписка:
            <input type="email" placeholder="Ваш email" class="input">
        </label>

        <button>Отправить</button>
    </div>

<footer>

    <div>
        <h1>Наши партнеры</h1>
            {% for partner in partners %}

                <a
                    href="{{ partner.website_url }}"
                    target="_blank"
                    rel="noopener noreferrer"
                >

                    {% if partner.logo %}
                        <img
                            src="{{ partner.logo.url }}"
                            alt="{{ partner.name }}"
                            width="150"
                        >

                    {% elif partner.logo_url %}
                        <img
                            src="{{ partner.logo_url }}"
                            alt="{{ partner.name }}"
                            width="150"
                        >

                    {% else %}
                        {{ partner.name }}
                    {% endif %}

                </a>

            {% empty %}

                <p>Партнеры пока не добавлены.</p>

            {% endfor %}
    </div>
    <a href="/politic/">Политика конфиденциальности</a>
</footer>
</body>
</html>