{% extends 'base.html' %}
{% block title %}Сотрудники{% endblock %}
{% block content %}
<section aria-labelledby="employees-title">
    <h1 id="employees-title">Сотрудники</h1>

    <form method="get">
        <input type="text" name="q" placeholder="Поиск по имени..." class="input">

        <select name="department">
            <option value="">Все отделы</option>
            {% for department in all_departments %}
                <option value="{{ department.id }}">{{ department.name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Поиск</button>
    </form>

    {% if perms.pharmacy.add_employee %}
        <a href="{% url 'employee_create' %}">Создать сотрудника</a>
    {% endif %}

    {% for employee in employees %}
        <article aria-labelledby="employee-{{ employee.id }}-title">
            {% load static %}

            {% if employee.photo %}
                <figure>
                    <img src="{{ employee.photo.url }}" alt="{{ employee.name }}" style="max-width: 120px;">
                    <figcaption>{{ employee.name }}</figcaption>
                </figure>
            {% else %}
                <figure>
                    <img src="{% static 'employees/image_for_project/def_ju59XtB.webp' %}"
                        alt="{{ employee.name }}"
                        style="max-width: 120px;">
                    <figcaption>{{ employee.name }}</figcaption>
                </figure>
            {% endif %}

            <h2 id="employee-{{ employee.id }}-title">{{ employee.name }}</h2>

            <p><strong>Отдел:</strong> {{ employee.department.name }}</p>

            <address>
                <strong>Телефон:</strong> {{ employee.phone }}<br>
                <strong>Почта:</strong>
                <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
            </address>

            {% if employee.description %}
            <p>
                <strong>Описание:</strong> {{ employee.description }}
            </p>
            {% endif %}

            <p>
                {% if perms.pharmacy.change_employee %}
                    <a href="{% url 'employee_edit' employee.id %}">Редактировать</a>
                {% endif %}

                {% if perms.pharmacy.delete_employee %}
                    <a href="{% url 'employee_delete' employee.id %}">Удалить</a>
                {% endif %}
            </p>
        </article>
    {% empty %}
        <p>Нет сотрудников.</p>
    {% endfor %}
</section>
{% endblock %}